---
import { ArrowLeft, ArrowRight } from "lucide-react";
import Mark from "./LocationMark.astro";
import data from "./location.json" assert { type: "json" };
import type { Location } from "./types";

const locations = data.locations as Location[];

// LOREM
let page: string | number = locations?.[0]?.page || 1;
let totalPages: string | number = locations?.length;
if (page < 10) page = `0${page.toString()}`;
if (totalPages < 10) totalPages = `0${totalPages.toString()}`;
// LOREM
---

<script>
  const buttons = Array.from(document.querySelectorAll("[data-is='button-group']"));
  const handler = (e) => {
    const action = e.currentTarget.dataset.action;
    console.log(action);
  };

  if (buttons) for (const btn of buttons) btn.addEventListener("click", handler);
</script>

<style>
  button > * {
    @apply h-5 w-5 opacity-90;
  }
</style>

<article class="vertical gap-3 absolute top-0 left-1/4">
  <div class="horizontal items-center justify-start w-fit gap-1 text-[0.95rem]">
    <output class="tabular-nums text-white font-semibold">{page}</output>
    <span class="text-white/90">/ {totalPages}</span>
  </div>
  <header>
    <h3 class="text-2xl font-medium leading-3">{locations?.[0]?.title}</h3>
    <small class="text-sm text-white/90">{locations?.[0]?.subtitle}</small>
  </header>
  <nav class="horizontal items-center justify-start gap-2 mt-1">
    <button data-is="button-group" data-action="prevMark" class="hover:[&>*]:text-white">
      <ArrowLeft className="text-white/90" />
    </button>
    <button data-is="button-group" data-action="nextMark" class="hover:[&>*]:text-white">
      <ArrowRight className="text-white/90" />
    </button>
  </nav>
</article>
<!--  -->
<!--  -->
<!--  -->
<div class="absolute-align full [&>div]:w-fit pointer-events-none">
  <Mark wrapperClassName="top-24 right-24" coordinates={locations?.[0]?.coordinates} selected>
    {locations?.[0]?.label || locations?.[0]?.title}
  </Mark>
  <Mark wrapperClassName="top-64 right-56" coordinates={locations?.[1]?.coordinates}>
    {locations?.[1]?.label || locations?.[1]?.title}
  </Mark>
</div>
