---
import Article from "../Article.astro";
import Button from "../Button.astro";
import Badge from "./Badge.astro";
import type { ProductType } from "./types";

interface Props extends ProductType {}

const { price, unit, title, description, id, tags } = Astro.props;
---

<div class="vertical gap-10" data-id={id}>
  <Article title={title} words1={description.short} pClass={"text-black/90 max-w-[50ch]"} dark>
    <div class="w-full h-full space-x-4 text-left" slot="subtitle">
      {
        tags.map((tag) => {
          return <Badge tag={tag} />;
        })
      }
    </div>
  </Article>
  <footer class="horizontal items-center justify-start gap-10">
    <Button size="lg" variant="outline" dark className="w-fit font-bold">En savoir plus</Button>
    <p class="font-semibold">
      Start at
      <span class="font-bold text-lg">
        <small> €</small>
        {price}
      </span>
      / {unit}
    </p>
  </footer>
</div>
