---
import type { ProductType } from "@/components/shared/product-data/types";

import Checkbox from "@/components/ui/checkbox.astro";
import { cn } from "@/lib/utils";
import Info from "./Info.astro";

interface Props {
    product?: ProductType;
    key?: string;
    telClass?: string;
    emailClass?: string;
    textareaClass?: string;
}
type OptionType = {
    label: string;
    value: string;
    description?: string;
};
const option: OptionType = {
    label: "je souhaite être recontacté",
    value: "recontact",
};

const { product, emailClass, telClass, textareaClass } = Astro.props;

const key = product ? product.id : Astro.props.key;
if (!key) throw new Error("No key found");
---

<style>
    label {
        @apply text-sm;
    }
    input {
        @apply w-full ps-3 py-2 rounded-md;
    }
</style>

<script>
    const sections = Array.from(document.querySelectorAll(`section[data-action*="section-message"]`)) as HTMLElement[];

    const getDOM = (section: HTMLElement, key: string) => {
        type Elements = [
            HTMLInputElement,
            HTMLInputElement,
            HTMLTextAreaElement,
            HTMLButtonElement,
            HTMLElement,
            HTMLElement,
        ];
        const elements = [
            section.querySelector(`input[type="email"]`), // [0] email
            section.querySelector(`input[type="tel"]`), // [1] tel
            section.querySelector(`textarea`), // [2] textarea
            document.querySelector(`[data-for='message'][data-action="next#${key}"]`), // [3] validateTrigger
            section.querySelector(`[data-variant][data-type="email"]`), // [4] infoEmail
            section.querySelector(`[data-variant][data-type="tel"]`), // [5] infoTel
        ];
        return elements as Elements;
    };

    sections.forEach((section) => {
        const action = section.dataset.action;
        if (!action) throw new Error("No action found on section");
        const key = action.split("#")[1] as string;
        /**
         * email, tel, nextFrameBtn, infoEmail, infoTel
         */
        const [textarea] = getDOM(section, key);
        textarea.addEventListener("input", () => {
            textarea.style.height = `${textarea.scrollHeight}px`;
        });
    });
</script>

<fieldset
    class={"h-full w-full py-7 vertical gap-5 justify-between [&>label]:vertical [&>label]:items-start [&>label]:justify-center"}
    data-action={`section-message#${key}`}>
    <label for={`email-${key}`}>
        <span class="font-medium text-md">Votre email :</span>
        <input
            id={`email-${key}`}
            type="email"
            name="email"
            placeholder="monemail@email.com"
            class={cn("mb-1", emailClass)}
            data-valid="false"
        />
        <Info text="Votre email nous permettra de nous mettre en contact" data-type="email" key={`${key}`} />
    </label>
    <label for={`tel-${key}`}>
        <span class="font-medium text-md">Votre téléphone :</span>
        <input
            id={`tel-${key}`}
            type="tel"
            name={`tel`}
            placeholder="Téléphone..."
            class={cn("mb-1", telClass)}
            data-valid="false"
        />
        <Info text="Votre téléphone n'est pas obligatoire" data-type="tel" key={`${key}`} />
    </label>
    <label for={`textarea-${key}`}>
        <span class="font-medium text-md">Votre message :</span>
        <textarea
            id={`textarea-${key}`}
            name={`message`}
            class={cn("w-full min-h-40 px-2 py-1 h-auto rounded-md max-h-52 mb-1", textareaClass)}
            placeholder="Message..."></textarea>
        <Info text="Votre message nous permettra de mieux comprendre votre demande" />
    </label>
    <Checkbox option={option} />
</fieldset>
