---
import SensorielImage from "@/assets/client-img-56.jpeg";
import EvenementielImage from "@/assets/client-img-55.jpeg";
import RechercheImage from "@/assets/client-img-54.jpeg";
import ImmersionImage from "@/assets/client-img-57.jpeg";
import InitiationImage from "@/assets/client-img-58.jpeg";
import data from "@/components/shared/product-data/main-product.json" assert { type: "json" };
import Simple from "./Simple.astro";
import TopSection from "./TopSection.astro";
import type { Product, ProductData, ProductImage } from "./types";
import { Image } from "astro:assets";
import Pattern1 from "@/assets/pattern_1.webp";
import { capitalize } from "@/lib/utils";
import CTA from "@/components/shared/CTA.astro";
import Button from "@/components/shared/Button.astro";

const buildProducts = (data: ProductData): { simpleProducts: Product[]; withSubproducts: Product[] } => {
    const { poles, products } = data;
    const availableProducts = products.filter((p) => poles.available.includes(p.id));
    const simpleProducts = availableProducts.filter((p) => !p.subproducts);
    const withSubproducts = availableProducts.filter((p) => p.subproducts);
    return { simpleProducts, withSubproducts };
};

const { simpleProducts, withSubproducts } = buildProducts(data);

const images: ProductImage[] = [
    {
        label: "evenementiel",
        src: EvenementielImage,
        alt: "Illustration d'un évenement Alabordarbre avec des personnes souriantes en cercle écoutant les instructions de l'animatrice Lou équipée sur corde",
        size: [500, 500],
    },
    {
        label: "sensoriel et sensibilisation",
        src: SensorielImage,
        alt: "Illustration d'un atelier sensoriel Alabordarbre où l'on aperçoit deux personnes grimpant dans le vide sur une corde",
        size: [500, 500],
    },
    {
        label: "recherche",
        src: RechercheImage,
        alt: "Illustration d'un atelier de recherche Alabordarbre pendant lequel un groupe de personne est en train de chercher des indices au pied d'un arbre",
        size: [500, 500],
    },
    {
        label: "initiation",
        src: InitiationImage,
        alt: "",
        size: [500, 500],
    },
    {
        label: "immersion",
        src: ImmersionImage,
        alt: "",
        size: [500, 500],
    },
];
---

<TopSection title="Nos quatres pôles d'activités">
    <div class={`absolute inset-0 w-full -z-10`}>
        <Image src={Pattern1} alt="pattern" class="object-cover opacity-25" />
        <Image src={Pattern1} alt="pattern" class="object-cover opacity-25" />
        <Image src={Pattern1} alt="pattern" class="object-cover opacity-25" />
    </div>

    {
        withSubproducts.map((p) => {
            return (
                <section class={`vertical center gap-10`}>
                    <div class="w-full">
                        <h2 class="text-4xl text-center">Pôle {capitalize(p.title)}</h2>
                    </div>
                    <p class={`text-black/90 max-w-[60ch] text-center`}>
                        Le pôle Animation propose des activités immersives et captivantes pour encourager l'exploration,
                        la connexion à la nature et l'éveil des sens. Il se divise en deux volets complémentaires :
                    </p>
                    <div class={`vertical md:horizontal center gap-10`}>
                        {p.subproducts &&
                            p.subproducts.map((p) => {
                                const image = images.find((img) => img.label === p.title);
                                return (
                                    <div class={`vertical center gap-5`}>
                                        <h3 class={`text-4xl`}>{capitalize(p.title)}</h3>
                                        <Image
                                            src={image.src}
                                            alt={image.alt}
                                            width={image.size[0] ?? 500}
                                            height={image.size[1] ?? 500}
                                            class={`aspect-square object-cover rounded-md`}
                                        />
                                        <p class={`text-center max-w-[60ch]`}>{p.description}</p>
                                        <CTA href={`/activites#${p.title}`} prefetch prefetchType="hover">
                                            <Button
                                                ring="sm"
                                                size="lg"
                                                variant="outline"
                                                dark
                                                className="w-fit font-bold whitespace-nowrap">
                                                En savoir plus
                                            </Button>
                                        </CTA>
                                    </div>
                                );
                            })}
                    </div>
                </section>
            );
        })
    }
    {
        simpleProducts.map((p, i) => {
            const orientation = (i & 1) === 0 ? "ltr" : "rtl";
            const img = images.find((img) => img.label === p.title);

            return <Simple product={p} orientation={orientation} image={img} buttonText="En savoir plus" />;
        })
    }
</TopSection>
