---
import type { ProductType } from "@/components/Products/types";
import type { OptionType } from "@/components/Tarif/types";
import Checkbox from "@/components/ui/checkbox.astro";
import Info from "./Info.astro";

interface Props {
  product: ProductType;
}

const option: OptionType = {
  label: "je souhaite etre recontacté",
  value: "recontact",
};

const { product } = Astro.props;
const key = product.id;
---

<style>
  label {
    @apply text-sm;
  }
  input {
    @apply w-full ps-3 py-2 rounded-md;
  }
</style>

<script>
  const sections = Array.from(document.querySelectorAll(`section[data-action*="section-message"]`)) as HTMLElement[];

  const findType = (type: string, elements: HTMLElement[]) => {
    return elements.find((info) => info.dataset.type === type);
  };

  const noContactGivenError = (infosElements: HTMLElement[]) => {
    const errorText = "Nous avons besoin d'au moins un moyen de vous contacter";

    const emailInfo = findType("email", infosElements);
    const telInfo = findType("tel", infosElements);

    if (!emailInfo || !telInfo) {
      console.error("Missing info element");
      return;
    }

    emailInfo.textContent = errorText;
    telInfo.textContent = errorText;
    emailInfo.dataset.variant = "error";
    telInfo.dataset.variant = "error";
  };

  const getDOM = (section: HTMLElement, key: string) => {
    type Elements = [
      HTMLInputElement,
      HTMLInputElement,
      HTMLTextAreaElement,
      HTMLButtonElement,
      HTMLElement,
      HTMLElement,
    ];
    const elements = [
      section.querySelector(`input[type="email"]`), // [0] email
      section.querySelector(`input[type="tel"]`), // [1] tel
      section.querySelector(`textarea`), // [2] textarea
      document.querySelector(`[data-for='message'][data-action="next#${key}"]`), // [3] validateTrigger
      section.querySelector(`[data-variant][data-type="email"]`), // [4] infoEmail
      section.querySelector(`[data-variant][data-type="tel"]`), // [5] infoTel
    ];
    return elements as Elements;
  };

  sections.forEach((section) => {
    const action = section.dataset.action;
    if (!action) throw new Error("No action found on section");
    const key = action.split("#")[1] as string;

    const [email, tel, textarea, validateTrigger, infoEmail, infoTel] = getDOM(section, key);
    if (!email || !tel || !textarea || !validateTrigger || !infoEmail || !infoTel) throw new Error("Missing element");

    validateTrigger.addEventListener("click", (e: MouseEvent) => {
      if (!email.value && !tel.value) {
        console.log("No contact given");
        noContactGivenError([infoEmail, infoTel]);
        e.stopImmediatePropagation();
        return;
      }
    });

    tel.addEventListener("input", () => {
      const value = tel.value.replace(/\./g, "");
      const mod = value.length % 2;
      if (mod === 0 && value.length > 0) {
        tel.value += ".";
      }
    });

    tel.addEventListener("blur", () => {
      const value = tel.value;
      if (value[value.length - 1] === ".") tel.value = value.slice(0, -1);
    });

    tel.addEventListener("keydown", (e) => {
      const key = e.key;
      const allowed = key.match(/[0-9]/);
      if (!allowed) e.preventDefault();
      switch (key) {
        case "Backspace":
          tel.value = tel.value.slice(0, -1);
          break;
      }
    });

    textarea.addEventListener("input", () => {
      textarea.style.height = `${textarea.scrollHeight}px`;
    });
  });
</script>

<section
  class={"h-full vertical gap-5 justify-between [&>label]:vertical [&>label]:items-start [&>label]:justify-center"}
  data-action={`section-message#${key}`}>
  <label for={`email-${key}`}>
    <span>Votre email :</span>
    <input id={`email-${key}`} type="email" name={`email`} placeholder="monemail@email.com" class="mb-1" />
    <Info text="Votre email nous permettra de nous mettre en contact" data-type="email" key={`${key}`} />
  </label>
  <label for={`tel-${key}`}>
    <span>Votre téléphone :</span>
    <input id={`tel-${key}`} type="tel" name={`tel`} placeholder="Téléphone..." class="mb-1" />
    <Info text="Votre téléphone nous permettra de nous mettre en contact" data-type="tel" key={`${key}`} />
  </label>
  <label for={`textarea-${key}`}>
    <span>Votre message :</span>
    <textarea
      id={`textarea-${key}`}
      name={`textarea`}
      class="w-full min-h-40 px-2 py-1 h-auto rounded-md max-h-52 mb-1"
      placeholder="Message..."></textarea>
    <Info text="Votre message nous permettra de mieux comprendre votre demande" />
  </label>
  <Checkbox option={option} />
</section>
