---
import Message from "@/components/Form/Message.astro";
import Button from "@/components/shared/Button.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Nav/Header.astro";
import Socials from "@/components/shared/Socials.astro";
import Layout from "@/layouts/Layout.astro";
import Section from "@/layouts/Section.astro";
import { Send, ThumbsUp } from "lucide-react";

const key = "contact";

export const companyContact = {
    email: "contact@alabordarbre.fr",
    tel: "06 71 34 07 07",
};

const adresse = {
    title: "Notre adresse",
    content: ["8 Chemin de Castelviel", "Goyrans", "31120"],
};

const description =
    "Contactez Alabordarbre pour organiser vos animations, événements ou projets de recherche en grimpe d’arbre. Basés à Toulouse, nous répondons à toutes vos demandes avec passion et professionnalisme. Vive la grimpe, grimpeurs et grimpeuses.";
---

<script>
    import { actions } from "astro:actions";

    const submitButton = document.querySelector("button[type=submit]");
    const form = document.querySelector("form");
    form?.addEventListener("submit", async (event) => {
        submitButton.setAttribute("data-loading", "loading");
        event.preventDefault();
        const formData = new FormData(form);
        const { error } = await actions.send(formData);
        if (!error) {
            createToaster("Votre message a bien été envoyé", "success");
            form.reset();
        } else {
            createToaster("Une erreur est survenue, veuillez réessayer", "error");
        }
        submitButton.setAttribute("data-loading", "idle");
    });

    /**
     *
     *
     *
     *
     *
     *
     */

    function createToaster(message: string, type = "info", duration = 5000) {
        const toaster = document.createElement("div");
        toaster.innerHTML = `<p>${message}</p>`;
        toaster.className = `toaster toaster-${type}`;

        Object.assign(toaster.style, {
            position: "fixed",
            top: "20px",
            left: "50%",
            transform: "translateX(-50%)",
            background: type === "error" ? "#e74c3c" : type === "success" ? "#2ecc71" : "#3498db",
            color: "#fff",
            padding: "15px 28px",
            borderRadius: "5px",
            boxShadow: "0 2px 10px rgba(0, 0, 0, 0.2)",
            zIndex: "1000",
            opacity: "1",
            transition: "opacity 0.5s ease-in-out",
            whiteSpace: "nowrap",
        });

        document.body.appendChild(toaster);

        setTimeout(() => {
            toaster.style.opacity = "0";
            setTimeout(() => toaster.remove(), 500);
        }, duration);
    }
</script>

<Layout title="contact" className="bg-pattern" description={description}>
    <Header slot="header" />
    <Section
        data-action={`section-message#${key}`}
        size="full"
        extension="sm"
        className={"grid center mt-40 md:mt-0 mb-20 md:mb-0"}>
        <div class={"vertical md:horizontal center gap-3 gap-y-20 w-full h-fit px-2"}>
            <div class="text-left vertical center h-full gap-20">
                <!--  -->
                <div transition:name="heading">
                    <h2 class="text-5xl uppercase mb-5 text-center">Contactez-nous</h2>
                    <p class="max-w-[50ch] text-[1rem] text-balance text-center">
                        Vous avez une question, une demande de devis ou vous souhaitez simplement nous dire bonjour ?
                        N'hésitez pas à nous contacter via le formulaire ci-dessous.
                    </p>
                </div>
                <div
                    class="sm:py-10 sm:px-14 px-9 py-5 shadow-md rounded-md bg-slate-100 vertical items-start text-left justify-between h-fit gap-6 [&>article>h3]:text-lg [&>article>h3]:mb-2 [&>article]:h-full [&>article]:grow text-black">
                    <article>
                        <h3>{adresse.title}</h3>
                        {adresse.content.map((line) => <p>{line}</p>)}
                    </article>
                    <article>
                        <h3>Nos contacts</h3>

                        <p>
                            <span>Email : </span>
                            <span class="font-semibold">{companyContact.email}</span>
                        </p>
                        <p>
                            <span>Téléphone : </span>
                            <span class="font-semibold">{companyContact.tel}</span>
                        </p>
                    </article>
                    <article class="vertical justify-end">
                        <h3>Nos réseaux</h3>
                        <Socials />
                    </article>
                </div>
            </div>
            <form
                class="p-3 sm:py-5 sm:px-7 md:py-10 md:px-14 shadow-md rounded-md bg-slate-100 space-y-5 ring-offset-1 vertical text-black shadow-black/20"
                method="POST">
                <div class="max-w-lg vertical center">
                    <Message
                        key={key}
                        telClass="bg-stone-100 ring-1 ring-stone-200 bg-white"
                        textareaClass="bg-stone-100 ring-1 ring-stone-200 bg-white"
                        emailClass="bg-stone-100 ring-1 ring-stone-200 bg-white"
                    />
                </div>
                <div class="w-full horizontal-reverse">
                    <div class={`relative vertical center`}>
                        <Button
                            data-loading="idle"
                            data-for={"form"}
                            type="submit"
                            size="md"
                            variant="filled"
                            rightIcon
                            ring="sm">
                            Valider
                            <Send className="stroke-1 h-5 w-5 translate-y-[3px]" slot="icon" />
                        </Button>
                        <div
                            class={`absolute -bottom-6 left-0 hidden text-sm whitespace-nowrap center gap-2 font-medium transition-transform translate-y-5`}>
                            <ThumbsUp className="stroke-1 h-5 w-5" />
                            Votre message a bien été envoyé
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </Section>

    <Footer slot="footer" />
</Layout>
