---
import Message from "@/components/Activité/Form/Message.astro";
import Button from "@/components/shared/Button.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Nav/Header.astro";
import Socials from "@/components/shared/Socials.astro";
import Layout from "@/layouts/Layout.astro";
import Section from "@/layouts/Section.astro";
import { Send, ThumbsUp } from "lucide-react";
import { Image } from "astro:assets";
import Pattern1 from "@/assets/pattern_1.webp";

const key = "contact";

export const companyContact = {
    email: "contact@alabordarbre.fr",
    tel: "06 71 34 07 07",
};

const adresse = {
    title: "Notre adresse",
    content: ["8 Chemin de Castelviel", "Goyrans", "31120"],
};
---

<script>
    import { actions } from "astro:actions";
    import { navigate } from "astro:transitions/client";

    const form = document.querySelector("form");
    form?.addEventListener("submit", async (event) => {
        console.log("submit");
        event.preventDefault();
        const formData = new FormData(form);
        const { error } = await actions.send(formData);
        if (!error) navigate("/confirmation");
    });
</script>

<Layout title="contact">
    <div class={`absolute inset-0 opacity-20 overflow-hidden -z-10`}>
        <Image src={Pattern1} alt="pattern" class="object-cover" />
    </div>
    <Header slot="header" />
    <Section
        data-action={`section-message#${key}`}
        size="full"
        extension="sm"
        className={"grid center mt-40 md:mt-0 mb-20 md:mb-0"}>
        <div class={"vertical md:horizontal center gap-3 gap-y-20 w-full h-fit px-2"}>
            <div class="text-left vertical center h-full gap-20">
                <!--  -->
                <div transition:name="heading">
                    <h2 class="text-5xl uppercase mb-5 text-center">Contactez-nous</h2>
                    <p class="max-w-[50ch] text-[1rem] text-balance text-center">
                        Vous avez une question, une demande de devis ou vous souhaitez simplement nous dire bonjour ?
                        N'hésitez pas à nous contacter via le formulaire ci-dessous.
                    </p>
                </div>
                <div
                    class="sm:py-10 sm:px-14 px-9 py-5 shadow-md rounded-md bg-slate-100 vertical items-start text-left justify-between h-fit gap-6 [&>article>h3]:text-lg [&>article>h3]:mb-2 [&>article]:h-full [&>article]:grow text-black">
                    <article>
                        <h3>{adresse.title}</h3>
                        {adresse.content.map((line) => <p>{line}</p>)}
                    </article>
                    <article>
                        <h3>Nos contact</h3>

                        <p>
                            <span>Email : </span>
                            <span class="font-semibold">{companyContact.email}</span>
                        </p>
                        <p>
                            <span>Téléphone : </span>
                            <span class="font-semibold">{companyContact.tel}</span>
                        </p>
                    </article>
                    <article class="vertical justify-end">
                        <h3>Nos réseaux</h3>
                        <Socials />
                    </article>
                </div>
            </div>
            <form
                class="p-3 sm:py-5 sm:px-7 md:py-10 md:px-14 shadow-md rounded-md bg-slate-100 space-y-5 ring-offset-1 vertical text-black shadow-black/20"
                method="POST">
                <div class="max-w-lg vertical center">
                    <Message
                        key={key}
                        telClass="bg-stone-100 ring-1 ring-stone-200 bg-white"
                        textareaClass="bg-stone-100 ring-1 ring-stone-200 bg-white"
                        emailClass="bg-stone-100 ring-1 ring-stone-200 bg-white"
                    />
                </div>
                <div class="w-full horizontal-reverse">
                    <div class={`relative vertical center`}>
                        <Button
                            data-loading="idle"
                            data-for={"form"}
                            type="submit"
                            size="md"
                            variant="filled"
                            rightIcon
                            ring="sm">
                            Valider
                            <Send className="stroke-1 h-5 w-5 translate-y-[3px]" slot="icon" />
                        </Button>
                        <div
                            class={`absolute -bottom-6 left-0 hidden text-sm whitespace-nowrap center gap-2 font-medium transition-transform translate-y-5`}>
                            <ThumbsUp className="stroke-1 h-5 w-5" />
                            Votre message a bien été envoyé
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </Section>

    <Footer slot="footer" />
</Layout>
