---
import Bird from "@/assets/bird-profile.webp";
import BackgroundForest from "@/assets/forest/forest-bg.webp";
import Forest from "@/assets/forest/forest.webp";
import Hero from "@/assets/hero/hero.png";
import AstroDebugPanel from "@/components/DebugPanel/AstroDebugPanel.astro";
import LocationExplorer from "@/components/LocationExplorer/LocationExplorer.astro";
import LocationFigure from "@/components/LocationExplorer/LocationFigure.astro";
import BirdIcon from "@/components/icons/Bird.astro";
import TreeIcon from "@/components/icons/Tree.astro";
import Section from "@/layouts/Section.astro";
import { generateLorem } from "@/lib/utils";
import "@/styles/globals.css";
import { Image } from "astro:assets";
import { Mountain } from "lucide-react";
import Layout from "../layouts/Layout.astro";
import OpenQuoteIcon from "@/components/icons/OpenQuote.astro";

const textRing =
  "    oui bonjour    ⚪    c'est moi le texte    ⚪    qui tourne en rond    ⚪    vijay t'es    ⚪    trés jolie et    ⚪    magnifique ackchually    ⚪";
const textRingArray = textRing.split("");
const charInText = textRing.length;
---

<script>
  const heroButton = document.querySelector("[data-is='hero-button']");
  if (!heroButton) throw new Error("hero button not found");

  const handler = () => {
    console.log("hero button clicked");
  };

  heroButton.addEventListener("click", handler);
</script>

<style>
  main {
    --primary: #0b0e16;
    --color-start: rgba(11, 14, 22, 0);
    --fade-to-b: linear-gradient(to bottom, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
    --fade-to-t: linear-gradient(to top, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
    --fade-to-l: linear-gradient(to left, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
    --fade-to-r: linear-gradient(to right, var(--color-start) 0%, var(--color-start) 80%, rgb(11, 14, 22) 100%);
  }

  .fade-out-top {
    background: var(--fade-to-t);
  }

  .fade-out-bottom {
    background: var(--fade-to-b);
  }

  .fade-out-right {
    background: var(--fade-to-r);
  }

  .fade-out-left {
    background: var(--fade-to-l);
  }
</style>

<Layout title="Welcome to Astro.">
  <AstroDebugPanel />
  <main>
    <Section className="relative text-white">
      <Image src={Hero} class="absolute full max-w-screen object-cover -z-50 brightness-110 contrast-125" alt="hero" />
      <!-- OVERLAY -->
      <div class="h-full fade-out-bottom"></div>
      <!-- OVERLAY -->
      <!-- <div class="absolute full max-w-screen bottom-0 fade-out-bottom h-52" data-debug="fade-out-hero"></div> -->
      <header class="absolute-align z-10 w-full px-52 py-2 h-1/4">
        <nav class="full [&>ul]:full">
          <ul class="horizontal center gap-12 font-bold [&>li>a:hover]:underline text-lg">
            <li>
              <a href="/">
                <h1 class="text-2xl">A l'abordarbre</h1>
              </a>
            </li>
            <div class="grow"></div>
            <li>
              <a href="/contact">Tarifs</a>
            </li>
            <li>
              <a href="/nous">Nous</a>
            </li>
            <li>
              <a href="/contact">
                <button class="rounded-full ring-2 ring-white px-3 py-1 hover:bg-white/20">Contact </button>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="absolute-center vertical z-10 full gap-6 text-center pointer-events-none">
        <h2 class="text-3xl uppercase">l'aventure commence ici!</h2>
        <h3 class="text-2xl">Découvrez la grimpe d'arbre</h3>
      </div>
      <div
        class="absolute-align justify-end items-center vertical z-10 full gap-6 text-center pointer-events-none max-h-[95%]"
      >
        <p class="text-balance text-white/80 line-clamp-3 max-w-[55ch] leading-4" style="z-index : inherit">
          {generateLorem(30)}
        </p>
        <button
          class="card h-10 w-44 text-black font-bold pointer-events-auto horizontal items-center justify-center px-4 gap-2"
          data-is="hero-button"
          style="z-index : inherit"
        >
          <Mountain className="h-[18px] w-[18px] -translate-y-[1px]" />
          <span>S'inscrire</span>
        </button>
        <p style="z-index : inherit">Start at <span class="text-lg font-bold">100</span>&#8364; / night</p>
      </div>
    </Section>
    <Section
      size="full"
      extension="sm"
      className="relative bg-map-dark text-white flex flex-col lg:flex-row items-center justify-around"
    >
      <div class="relative h-full w-full lg:w-7/12 horizontal center md:max-w-[900px] md:max-h-[700px]">
        <LocationFigure>
          <LocationExplorer />
        </LocationFigure>
      </div>
      <!-- | -->
      <!-- | -->
      <!-- NEXT ARTICLE -->
      <!-- | -->
      <article class="md:w-fit flex flex-col px-12 items-start justify-center gap-10">
        <!-- ARTICLE HEADER HERE -->
        <header class="vertical gap-4 text-white/60 md:max-w-[60ch] max-w-[75%] leading-5">
          <TreeIcon />
          <h2 class="text-white text-xl mt-6">{generateLorem(5)}</h2>
          <p>{generateLorem(30)}</p>
          <p>{generateLorem(50)}</p>
        </header>
        <!-- ARTICLE HEADER HERE -->
        <figure class="h-full flex flex-row justify-end items-center mt-1 gap-4">
          <Image
            class={"aspect-square object-cover"}
            src="https://picsum.photos/125"
            alt="lorem"
            width={150}
            height={150}
          />
          <Image
            class={"aspect-square object-cover"}
            src="https://picsum.photos/150"
            alt="lorem"
            width={150}
            height={150}
          />
        </figure>
      </article>
    </Section>
    <Section
      size="quarter"
      extension="xs"
      className="bg-map-dark relative overflow-x-hidden overflow-y-hidden z-10 flex justify-start items-start isolate"
    >
      <Image
        src={Forest}
        alt={"forest foreground"}
        style={"transform: scale(-1, 1) translateY(125px);"}
        class={"absolute bottom-0 object-cover min-w-[632px] w-full z-10"}
      />
      <Image
        src={BackgroundForest}
        alt={"forest background"}
        style={"transform: translateY(-25px);"}
        class={"absolute bottom-0 object-cover min-w-[632px] w-full z-0"}
      />
    </Section>
    <Section
      data-grid
      role="grid"
      extension="md"
      className="relative center pt-32 bg-earth-600 overflow-hidden"
      size="full"
    >
      <style>
        [data-grid] {
          @apply grid grid-cols-[repeat(2,1fr)] grid-rows-[repeat(2,1fr)];

          & > div:not([data-bg]) {
            @apply z-10 full;
          }
          div:nth-of-type(2) {
            grid-area: 1 / 1 / 2 / 2;
          }
          div:nth-of-type(3) {
            grid-area: 1 / 2 / 2 / 3;
          }
          div:nth-of-type(4) {
            grid-area: 2 / 1 / 3 / 3;
          }

          [data-bg] {
            /**      */
            /** vars */
            /**      */
            --shape: ellipse;
            --size: farthest-side;
            --pos-1: 50% 60%;
            --pos-2: 70% 70%;
            --color-start: #3d393d;
            --color-end: #262123;
            --gradient-end: 80%;

            /**           */
            /** gradients */
            /**           */
            --bg-1: radial-gradient(
              var(--shape) var(--size) at var(--pos-1),
              var(--color-start),
              var(--color-end) var(--gradient-end)
            );
            --bg-2: radial-gradient(
              var(--shape) var(--size) at var(--pos-2),
              var(--color-start),
              var(--color-end) var(--gradient-end)
            );
            @apply absolute-align horizontal [&_div]:full pointer-events-none;

            div:nth-of-type(1) {
              background: var(--bg-1);
            }
            div:nth-of-type(2) {
              background: var(--bg-2);
            }
          }
        }
      </style>
      <!-- bg -->
      <div data-bg role="presentation">
        <div></div>
        <div></div>
      </div>
      <!-- top left -->
      <div role="gridcell">
        <article class="mx-auto md:w-fit flex flex-col px-12 gap-10 h-fit">
          <!-- ARTICLE HEADER HERE -->
          <div class="vertical items-start gap-6">
            <header class="text-white/60 vertical gap-4 md:max-w-[60ch] max-w-[75%] leading-5">
              <BirdIcon />
              <h2 class="text-white text-xl mt-6">{generateLorem(5)}</h2>
              <p>{generateLorem(40)}</p>
              <p>{generateLorem(30)}</p>
            </header>
            <button class="text-white/95 rounded-full ring-2 ring-white/95 px-9 py-2 hover:bg-white/20">
              <span>Découvrir</span>
            </button>
          </div>
          <!-- ARTICLE HEADER HERE -->
        </article>
      </div>
      <!-- top right -->
      <div role="gridcell" class="relative font-bold text-xs text-white/60">
        <style define:vars={{ charInText }}>
          .text-ring {
            --character-width: 1;
            --image-size: 120px;
            --image-radius: calc(var(--image-size) / 2);
          }
          .text-ring [style*="--index"] {
            --inner-angle: calc((360 / var(--charInText)) * 1deg);
            --radius: calc(((var(--character-width, 1) / sin(var(--inner-angle))) * -1ch) - var(--image-radius));
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(calc(var(--inner-angle) * var(--index)))
              translateY(var(--radius, -5ch));
          }

          @media (prefers-reduced-motion: no-preference) {
            .text-ring {
              --duration: 0;
              animation: spin var(--duration) infinite linear;

              & > img {
                animation: counter-spin var(--duration) infinite linear;
              }
            }

            @keyframes spin {
              to {
                rotate: -360deg;
              }
            }

            @keyframes counter-spin {
              to {
                rotate: 360deg;
              }
            }
          }
        </style>

        <figure class="-translate-y-[20%]">
          <div class="relative w-fit h-fit text-ring">
            <Image src={Bird} alt="beautifull bird" data-debug="bird" class="rounded-full opacity-70" />
            <!-- IMAGE -->
            <!-- IMAGE -->

            <!-- TEXT -->
            {
              textRingArray.map((char, index) => {
                return <span style={`--index: ${index}`}>{char}</span>;
              })
            }
            <span class="sr-only">{textRing}</span>
          </div>
          <!-- TEXT -->
        </figure>
      </div>
      <!-- bottom -->
      <div role="gridcell" class="grid center">
        <figure
          class="horizontal center drop-shadow-2xl -translate-y-[40%] [&>*]:h-[390px] [&>*]:w-[375px] text-white/50"
        >
          <Image
            src={"https://picsum.photos/200"}
            alt="lorem"
            class="object-cover rounded-tl-sm rounded-bl-sm"
            height={500}
            width="500"
          />
          <figcaption
            class="vertical items-center justify-center w-5/12 h-inherit bg-earth-700 px-14 gap-3 rounded-tr-sm rounded-br-sm text-lg"
          >
            <blockquote class="leading-6">
              <div class="w-full translate-y-6" aria-roledescription="open quote">
                <OpenQuoteIcon />
              </div>
              <p class="indent-10">{generateLorem(20)}</p>
            </blockquote>
            <footer class="w-full mt-2">
              <address class="text-white/90 font-semibold">Vijay Leblanc</address>
              <p class="text-pur-500 font-semibold">Fondateur</p>
            </footer>
          </figcaption>
        </figure>
      </div>
    </Section>
    <Section />
  </main>
</Layout>
