---
import Forest from "@/assets/forest-2.png";
import Hero from "@/assets/hero/hero.png";
import AstroDebugPanel from "@/components/DebugPanel/AstroDebugPanel.astro";
import LocationExplorer from "@/components/LocationExplorer/LocationExplorer.astro";
import LocationFigure from "@/components/LocationExplorer/LocationFigure.astro";
import Tree from "@/components/Tree.astro";
import Section from "@/layouts/Section.astro";
import { generateLorem } from "@/lib/utils";
import "@/styles/globals.css";
import { Image } from "astro:assets";
import { Mountain } from "lucide-react";
import Layout from "../layouts/Layout.astro";
---

<script>
  const heroButton = document.querySelector("[data-is='hero-button']");
  if (!heroButton) throw new Error("hero button not found");

  const handler = () => {
    console.log("hero button clicked");
  };

  heroButton.addEventListener("click", handler);
</script>

<style>
  main {
    --primary: #0b0e16;
    --color-start: rgba(11, 14, 22, 0);
    --fade-to-b: linear-gradient(to bottom, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
    --fade-to-t: linear-gradient(to top, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
    --fade-to-l: linear-gradient(to left, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
    --fade-to-r: linear-gradient(to right, var(--color-start) 0%, var(--color-start) 80%, rgb(11, 14, 22) 100%);
  }

  .fade-out-top {
    background: var(--fade-to-t);
  }

  .fade-out-bottom {
    background: var(--fade-to-b);
  }

  .fade-out-right {
    background: var(--fade-to-r);
  }

  .fade-out-left {
    background: var(--fade-to-l);
  }
</style>

<Layout title="Welcome to Astro.">
  <AstroDebugPanel />
  <main>
    <Section className="relative text-white">
      <Image src={Hero} class="absolute full max-w-screen object-cover -z-50 brightness-110 contrast-125" alt="hero" />
      <!-- OVERLAY -->
      <div class="h-full fade-out-bottom"></div>
      <!-- OVERLAY -->
      <!-- <div class="absolute full max-w-screen bottom-0 fade-out-bottom h-52" data-debug="fade-out-hero"></div> -->
      <header class="absolute-align z-10 w-full px-52 py-2 h-1/4">
        <nav class="full [&>ul]:full">
          <ul class="horizontal center gap-12 font-bold [&>li>a:hover]:underline text-lg">
            <li>
              <a href="/">
                <h1 class="text-2xl">A l'abordarbre</h1>
              </a>
            </li>
            <div class="grow"></div>
            <li>
              <a href="/contact">Tarifs</a>
            </li>
            <li>
              <a href="/nous">Nous</a>
            </li>
            <li>
              <a href="/contact">
                <button class="rounded-full ring-2 ring-white px-3 py-1 hover:bg-white/20">Contact </button>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="absolute-center vertical z-10 full gap-6 text-center pointer-events-none">
        <h2 class="text-3xl uppercase">l'aventure commence ici!</h2>
        <h3 class="text-2xl">Découvrez la grimpe d'arbre</h3>
      </div>
      <div
        class="absolute-align justify-end items-center vertical z-10 full gap-6 text-center pointer-events-none max-h-[95%]"
      >
        <p class="text-balance text-white/80 line-clamp-3 max-w-[55ch] leading-4" style="z-index : inherit">
          {generateLorem(30)}
        </p>
        <button
          class="card h-10 w-44 text-black font-bold pointer-events-auto horizontal items-center justify-center px-4 gap-2"
          data-is="hero-button"
          style="z-index : inherit"
        >
          <Mountain className="h-[18px] w-[18px] -translate-y-[1px]" />
          <span>S'inscrire</span>
        </button>
        <p style="z-index : inherit">Start at <span class="text-lg font-bold">100</span>&#8364; / night</p>
      </div>
    </Section>
    <Section
      size="full"
      extension="sm"
      className="relative bg-def-dark text-white flex flex-col md:flex-row items-center justify-center"
    >
      <div class="relative h-full w-full md:w-7/12 horizontal center">
        <LocationFigure>
          <LocationExplorer />
        </LocationFigure>
      </div>
      <!-- | -->
      <!-- | -->
      <!-- NEXT ARTICLE -->
      <!-- | -->
      <article class="w-6/12 vertical items-start justify-center gap-6">
        <Tree />
        <div class="vertical gap-4 text-[0.95rem] text-white/80 max-w-[45ch] leading-5">
          <h2 class="text-white text-xl">{generateLorem(5)}</h2>
          <p>{generateLorem(20)}</p>
          <p>{generateLorem(30)}</p>
        </div>
        <figure class="horizontal mt-1 gap-4">
          <Image
            class={"aspect-square object-cover"}
            src="https://picsum.photos/125"
            alt="lorem"
            width={125}
            height={125}
          />
          <Image
            class={"aspect-square object-cover"}
            src="https://picsum.photos/150"
            alt="lorem"
            width={125}
            height={125}
          />
        </figure>
      </article>
      <Image
        src={Forest}
        alt={"forest"}
        style={"transform: scale(-1, 1) translateY(25%);"}
        class={"absolute bottom-0 object-cover w-full"}
      />
      <!-- translate-y-[35%] -->
    </Section>
    <Section
      size="quarter"
      extension="sm"
      className="bg-earth-500 relative overflow-hidden flex justify-start items-start"
    >
      <!-- OVERLAY -->
      <div class="h-full fade-out-bottom"></div>
      <!-- OVERLAY -->
    </Section>
    <Section size="full" className="bg-earth-500" />
  </main>
</Layout>
