---
import Bird from "@/assets/bird-profile.webp";
import Hero from "@/assets/hero/hero.png";
import Article from "@/components/Article.astro";
import Button from "@/components/Button.astro";
// import AstroDebugPanel from "@/components/DebugPanel/AstroDebugPanel.astro";
import Gradients from "@/components/Earth/Gradients.astro";
import ForestMask from "@/components/Forest/ForestMask.astro";
import Location from "@/components/Location/Location.astro";
import Product from "@/components/Products/Product.astro";
import RandomImage from "@/components/RandomImage.astro";
import BirdIcon from "@/components/icons/Bird.astro";
import ClimbIcon from "@/components/icons/Climb.astro";
import OpenQuoteIcon from "@/components/icons/OpenQuote.astro";
import Section from "@/layouts/Section.astro";
import { generateLorem } from "@/lib/utils";
import "@/styles/globals.css";
import { Image } from "astro:assets";
import { Mountain } from "lucide-react";
import Layout from "../layouts/Layout.astro";

const textRing =
  "    oui bonjour    ⚪    c'est moi le texte    ⚪    qui tourne en rond    ⚪    vijay t'es    ⚪    trés jolie et    ⚪    magnifique ackchually    ⚪";
const textRingArray = textRing.split("");
const charInText = textRing.length;
---

<style>
  main {
    --primary: #0b0e16;
    --color-start: rgba(11, 14, 22, 0);
    --fade-to-b: linear-gradient(to bottom, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
    --fade-to-t: linear-gradient(to top, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
    --fade-to-l: linear-gradient(to left, var(--color-start) 0%, var(--color-start) 80%, #0b0e16 100%);
    --fade-to-r: linear-gradient(to right, var(--color-start) 0%, var(--color-start) 80%, rgb(11, 14, 22) 100%);
  }

  .fade-out-top {
    background: var(--fade-to-t);
  }

  .fade-out-bottom {
    background: var(--fade-to-b);
  }

  .fade-out-right {
    background: var(--fade-to-r);
  }

  .fade-out-left {
    background: var(--fade-to-l);
  }
</style>

<Layout title="Welcome to Astro.">
  <!-- <AstroDebugPanel /> -->
  <main>
    <Section className="relative text-white">
      <Image src={Hero} class="absolute full max-w-screen object-cover z-[0] brightness-110 contrast-125" alt="hero" />
      <!-- OVERLAY -->
      <div class="relative h-screen fade-out-bottom z-[1]"></div>
      <!-- OVERLAY -->
      <!-- <div class="absolute full max-w-screen bottom-0 fade-out-bottom h-52" data-debug="fade-out-hero"></div> -->
      <header class="absolute-align z-10 w-full px-52 py-2 h-1/4">
        <nav class="full [&>ul]:full">
          <ul class="horizontal center gap-12 font-bold [&>li>a:hover]:underline text-lg">
            <li>
              <a href="/">
                <h1 class="text-2xl">A l'abordarbre</h1>
              </a>
            </li>
            <div class="grow"></div>
            <li>
              <a href="/contact">Tarifs</a>
            </li>
            <li>
              <a href="/nous">Nous</a>
            </li>
            <li>
              <a href="/contact">
                <Button size="md" ring="md" variant="outline" data-is="hero-button">Contact</Button>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="absolute-center vertical z-10 full gap-6 text-center pointer-events-none">
        <h2 class="text-3xl uppercase">l'aventure commence ici!</h2>
        <h3 class="text-2xl">Découvrez la grimpe d'arbre</h3>
      </div>
      <div
        class="absolute-align justify-end items-center vertical z-10 full gap-6 text-center pointer-events-none max-h-[95%]"
      >
        <p class="text-balance text-white/80 line-clamp-3 max-w-[55ch] leading-4" style="z-index : inherit">
          {generateLorem(30)}
        </p>
        <Button
          className="pointer-events-auto horizontal gap-5 items-center w-48"
          variant="outline"
          size="lg"
          data-is="hero-button"
        >
          <Mountain className="h-[18px] w-[18px] -translate-y-[1px]" />
          <span>S'inscrire</span>
        </Button>
        <p style="z-index : inherit">Start at <span class="text-lg font-bold">100</span>&#8364; / night</p>
      </div>
    </Section>
    <Location />
    <ForestMask />
    <Section
      extension="none"
      className="relative horizontal flex-wrap center pb-32 bg-earth-600 overflow-hidden"
      size="full"
      data-debug="section-bird"
    >
      <Gradients />
      <!-- top left -->
      <div class="w-fit h-fit vertical px-12 gap-10">
        <!-- ARTICLE HEADER HERE -->
        <div class="vertical items-start gap-6">
          <Article nWord1={40} nWord2={30} className="max-w-[50ch] z-10">
            <BirdIcon />
          </Article>
          <Button size="lg" variant="outline">Contact </Button>
        </div>
      </div>
      <figure class="relative w-fit h-fit text-ring text-xs text-white/60" data-debug="section-bird">
        <style define:vars={{ charInText }}>
          .text-ring {
            --character-width: 1;
            --image-size: 120px;
            --image-radius: calc(var(--image-size) / 2);
          }
          .text-ring [style*="--index"] {
            --inner-angle: calc((360 / var(--charInText)) * 1deg);
            --radius: calc(((var(--character-width, 1) / sin(var(--inner-angle))) * -1ch) - var(--image-radius));
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(calc(var(--inner-angle) * var(--index)))
              translateY(var(--radius, -5ch));
          }

          @media (prefers-reduced-motion: no-preference) {
            .text-ring {
              --duration: 0;
              animation: spin var(--duration) infinite linear;

              & > img {
                animation: counter-spin var(--duration) infinite linear;
              }
            }

            @keyframes spin {
              to {
                rotate: -360deg;
              }
            }

            @keyframes counter-spin {
              to {
                rotate: 360deg;
              }
            }
          }
        </style>
        <Image src={Bird} alt="beautifull bird" class="rounded-full object-cover h-[500px] object-top" />
        {
          textRingArray.map((char, index) => {
            return <span style={`--index: ${index}`}>{char}</span>;
          })
        }
        <span class="sr-only">{textRing}</span>
      </figure>
      <article class="horizontal center drop-shadow-2xl [&>*]:h-[390px] [&>*]:w-[375px] text-white/50">
        <RandomImage size={500} className=" rounded-tl-sm rounded-bl-sm" />
        <div class="vertical center w-5/12 bg-earth-700 px-14 gap-3 rounded-tr-sm rounded-br-sm text-lg">
          <blockquote class="leading-6">
            <div class="w-full translate-y-6" aria-roledescription="open quote">
              <OpenQuoteIcon />
            </div>
            <p class="indent-10">{generateLorem(20)}</p>
          </blockquote>
          <footer class="w-full mt-2">
            <address class="text-white/90 font-semibold">Vijay Leblanc</address>
            <p class="text-pur-500 font-semibold">Fondateur</p>
          </footer>
        </div>
      </article>
    </Section>
    <!-- list -->
    <!-- list -->
    <!-- list -->
    <!-- list -->
    <Section
      class="vertical center py-52 px-52 gap-28 [&>article]:w-full [&>article]:horizontal [&>article]:justify-center [&>article]:items-center [&>article]:gap-28"
    >
      <article>
        <div>
          <ClimbIcon />
          <h2 class="text-xl w-full text-left mb-8">Ce que l'on vous conseille</h2>
          <RandomImage width={400} height={500} />
        </div>
        <Product />
      </article>
      <article class="flex-row-reverse">
        <RandomImage width={400} height={500} />
        <Product />
      </article>
      <article>
        <RandomImage width={400} height={500} />
        <Product />
      </article>
    </Section>
  </main>
</Layout>
