---
import Heading from "@/components/Hero/Heading.astro";
import Badge from "@/components/Products/Badge.astro";
import Bar from "@/components/Products/Bar.astro";
import rawProducts from "@/components/Products/product.json" assert { type: "json" };
import type { ProductType } from "@/components/Products/types";
import RandomImage from "@/components/RandomImage.astro";
import Inputs from "@/components/Tarif/Inputs.astro";
import StarEmpty from "@/components/icons/StarEmpty.astro";
import StarFilled from "@/components/icons/StarFilled.astro";
import HeaderFooter from "@/layouts/HeaderFooter.astro";
import Section from "@/layouts/Section.astro";
import { generateLorem } from "@/lib/utils";
import { ArrowDown } from "lucide-react";
import Layout from "../layouts/Layout.astro";

const products = rawProducts.products as ProductType[];
---

<style>
  .debug-1 {
    @apply ring-1 ring-red-400;
  }
  .debug-2 {
    @apply ring-1 ring-green-400;
  }
  .debug-3 {
    @apply ring-1 ring-blue-400;
  }
  .debug-4 {
    @apply ring-1 ring-yellow-400;
  }
  .debug-5 {
    @apply ring-1 ring-purple-400;
  }
  .debug-6 {
    @apply ring-1 ring-pink-400;
  }
</style>

<Layout title="tarif">
  <HeaderFooter slot="header" />
  <Section>
    <Heading h2="Nos tarifs" h3="Composable et personalisable" className="text-black">
      <a href="#1" class="pointer-events-auto">
        <ArrowDown size="32" />
      </a>
    </Heading>
  </Section>
  <Section id={"1"} className={"horizontal center container"} fixedHeight>
    <div class="w-full h-full horizontal center">
      <div class="vertical w-4/12 h-5/6 gap-6 py-5 center">
        {
          products.map((product) => {
            return (
              <button
                class="w-full vertical items-center justify-between shadcn-border hover:bg-slate-100 py-2 px-4 gap-3"
                data-id={`${product.id}`}>
                <div class="w-full horizontal items-center justify-between">
                  <h2>{product.name}</h2>
                  <p class="font-medium">
                    <span class="font-bold text-lg">
                      <small> €</small>
                      {product.price}
                    </span>
                    / {product.unit}
                  </p>
                </div>
                <div class="w-full h-full space-x-4 text-left">
                  {product.tags.map((tag) => {
                    return <Badge tag={tag} />;
                  })}
                </div>
              </button>
            );
          })
        }
      </div>
      <!-- SECTION RIGHT -->
      <!-- SECTION RIGHT -->
      <!-- SECTION RIGHT -->
      <!-- SECTION RIGHT -->
      <div class="w-9/12 max-w-[75%] h-4/6 overflow-hidden">
        {
          products.map((product) => {
            const stars = Array.from({ length: 5 }, (_, i) => {
              return i < parseInt(product.rating) ? StarFilled : StarEmpty;
            });
            return (
              <div class="w-full h-full rounded-tr-md rounded-br-md horizontal items-center justify-start px-5 gap-5 overflow-auto">
                <RandomImage seed={600} className="h-5/6 w-4/12" />
                <article class="vertical h-full max-w-fit gap-5">
                  <div class="vertical gap-2">
                    <h2> {product.title} </h2>
                    {/* TITRE */}
                    <div class="horizontal items-center justify-start">
                      {stars.map((Star) => {
                        return <Fragment>{<Star className={"h-4 w-4"} />}</Fragment>;
                      })}
                    </div>
                    {/* TITRE */}
                  </div>
                  <div class="overflow-auto leading-5">
                    {/* description */}
                    {/* description */}

                    <p>{product.description.long}</p>
                  </div>
                  {/* description */}
                  {/* LIST */}
                  <section class="grid grid-cols-2 gap-10">
                    <article class="w-full vertical justify-start">
                      <h4>{generateLorem(1)} :</h4>
                      {product.stats.map((stat) => (
                        <Bar barSize={175} label={stat.label} value={stat.value} />
                      ))}
                    </article>

                    <div>
                      <h4>{generateLorem(1)} :</h4>
                      <ul class="font-normal text-sm">
                        {[...Array(5)].map(() => (
                          <li>{generateLorem(1)}</li>
                        ))}
                      </ul>
                    </div>
                  </section>
                  {/* LIST */}

                  <Inputs product={product} />
                </article>
              </div>
            );
          })
        }
      </div>
    </div>
  </Section>
</Layout>
