---
import Heading from "@/components/Hero/Heading.astro";
import rawProducts from "@/components/Products/product.json" assert { type: "json" };
import type { ProductType } from "@/components/Products/types";
import Dialog from "@/components/Tarif/Dialog/Dialog.astro";
import Orientation from "@/components/Tarif/Orientation.astro";
import Pictures from "@/components/Tarif/Pictures.astro";
import Stats from "@/components/Tarif/Stats.astro";
import TarifText from "@/components/Tarif/TarifText.astro";
import HeaderFooter from "@/layouts/HeaderFooter.astro";
import Section from "@/layouts/Section.astro";
import { ArrowDown, Backpack, CircleChevronRight, Gauge, Hourglass, MapPin } from "lucide-react";
import Layout from "../layouts/Layout.astro";

const products = rawProducts.products as ProductType[];
---

<style>
  .debug-1 {
    @apply ring-1 ring-red-400;
  }
  .debug-2 {
    @apply ring-1 ring-green-400;
  }
  .debug-3 {
    @apply ring-1 ring-blue-400;
  }
  .debug-4 {
    @apply ring-1 ring-yellow-400;
  }
  .debug-5 {
    @apply ring-1 ring-purple-400;
  }
  .debug-6 {
    @apply ring-1 ring-pink-400;
  }
</style>

<Layout title="tarif">
  <HeaderFooter slot="header" />
  <Section>
    <Heading h2="Nos tarifs" h3="Composable et personalisable" className="">
      <div class="grow max-h-[10%]"></div>
      <ArrowDown size="32" />
    </Heading>
  </Section>
  <Section className={"vertical center container gap-72"}>
    {
      products.map((product, i) => {
        const orientation = i % 2 === 0 ? "ltr" : "rtl";
        return (
          <Orientation orientation={orientation} anchorId={`${product.id}`}>
            <section class="relative vertical w-fit h-full">
              <Pictures size={500} orientation={orientation} />
            </section>
            <section class="vertical w-fit h-full gap-7 items-start justify-evenly max-w-[50%]">
              <TarifText title={product.title} description={product.description.long} />
              <div class="grid grid-cols-2">
                <div class="vertical gap-1">
                  <Stats label="duration" type="none" stats={product.duration}>
                    <Hourglass slot="icon" />
                  </Stats>
                  <Stats label="dificulty" type="bar" stats={product.stats}>
                    <Gauge slot="icon" />
                  </Stats>
                  <Stats label="matériels" type="badge" stats={product.materials}>
                    <Backpack slot="icon" />
                  </Stats>
                  <Stats label="lieux" type="badge" stats={product.locations}>
                    <MapPin slot="icon" />
                  </Stats>
                  <Stats label="public" type="none" stats={product.public}>
                    <MapPin slot="icon" />
                  </Stats>
                </div>
                <div class="grid items-start justify-end">
                  <ul class="w-full">
                    <p class="font-semibold mb-2">Programme :</p>
                    {product.tasks.map((task) => (
                      <li class="w-full horizontal items-center gap-3 mb-1">
                        <CircleChevronRight className="stroke-1 h-4 w-4" />
                        <p class="full">{task}</p>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
              <Dialog product={product} dialogSize={1000} />
            </section>
          </Orientation>
        );
      })
    }
  </Section>

  <HeaderFooter slot="footer" as="footer" className="mt-32" />
</Layout>
