---
import Button from "@/components/Button.astro";
import type { ProductType } from "@/components/Products/types";
import type { HTMLAttributes } from "astro/types";
import CloseButton from "./CloseButton.astro";
import ContactDetail from "./ContactDetail.astro";
import Form from "./Form.astro";
import Inputs from "./Inputs.astro";
import Message from "./Message.astro";
import Options from "./Options.astro";
import { ArrowBigLeft, ArrowBigRight } from "lucide-react";

interface Props {
  rest?: HTMLAttributes<"dialog">;
  product: ProductType;
  dialogSize?: number;
  gap?: number;
  frameSize?: number;
  detailsSize?: number;
}

const {
  product,
  dialogSize = 800,
  frameSize = dialogSize * 0.7,
  detailsSize = dialogSize * 0.3,
  gap = 50,
} = Astro.props;
const key = product.id;
const components = [Inputs, Options, Message];
const sizes = {
  dialog: `${dialogSize}px`,
  gap: `${gap}px`,
  frameSize: `${frameSize}px`,
  translation: frameSize + gap,
};
---

<script>
  import { needDOM } from "@/lib/utils";
  document.addEventListener("astro:page-load", () => {
    const dialogs = needDOM<HTMLDialogElement[]>("dialog", { multiple: true });
    dialogs.forEach((dialog) => {
      const action = dialog.dataset.action as string;
      const key = action.split("#")[1];

      const selectors: [string, { multiple?: boolean } | undefined][] = [
        [`[data-action='open#${key}']`, { multiple: false }], // [0] HTMLButtonElement single
        [`[data-form='form#${key}']`, { multiple: false }], // [1] HTMLFormElement single
        [`[data-is='multistep#${key}']`, { multiple: false }], // [2] HTMLElement single
        [`[data-action='close#${key}']`, { multiple: true }], // [3] HTMLButtonElement multiple
        [`[data-action^='next#${key}']`, { multiple: true }], // [4] HTMLButtonElement multiple
        [`[data-action^='prev#${key}']`, { multiple: true }], // [5] HTMLButtonElement multiple
      ];

      const [openBtn, form, multistep, closeBtns, nextBtns, prevBtns] = selectors.map((selector) =>
        needDOM<HTMLElement[]>(...selector)
      );

      if (!openBtn || !form || !multistep || !closeBtns || !nextBtns || !prevBtns)
        throw new Error(`Missing DOM elements`);

      const frameSize = multistep?.[0]?.dataset.framesize as string;
      const translationSize = parseInt(frameSize) || 0;

      const handleNavigation = (direction: "prev" | "next") => {
        const frames = needDOM<HTMLElement[]>(`[data-frame^='frame#${key}']`, { multiple: true });
        const firstFrame = frames[0] as HTMLElement;
        const translationData = firstFrame.dataset.translation as string;
        const currentTranslation = parseInt(translationData) || 0;

        frames.forEach((frame) => {
          const nextMove =
            direction === "prev" ? currentTranslation + translationSize : currentTranslation - translationSize;
          frame.dataset.translation = `${nextMove}`;
          frame.style.transform = `translateX(${nextMove}px)`;
        });
      };

      (nextBtns as HTMLButtonElement[]).forEach((btn: HTMLButtonElement) =>
        btn.addEventListener("click", () => handleNavigation("next"))
      );

      (prevBtns as HTMLButtonElement[]).forEach((btn: HTMLButtonElement) =>
        btn.addEventListener("click", () => handleNavigation("prev"))
      );

      const handleSubmit = (e: SubmitEvent) => {
        e.preventDefault();
        const formData = new FormData(form[0] as HTMLFormElement);
        const data = Object.fromEntries(formData.entries());
        console.log(data);
        if (data.hp) {
          window.location.assign("/honey");
        }
      };

      const open = openBtn[0] as HTMLButtonElement;
      const formEl = form[0] as HTMLFormElement;
      open.addEventListener("click", () => dialog.showModal());
      (closeBtns as HTMLButtonElement[]).forEach((btn) => btn.addEventListener("click", () => dialog.close()));
      formEl.addEventListener("submit", (e: SubmitEvent) => handleSubmit(e));
    });
  });
</script>

<style define:vars={{ frameSize: sizes.frameSize, dialogMaxSize: sizes.dialog, gap: sizes.gap }}>
  [data-is^="multistep"] {
    @apply grid [&>section]:text-center [&>section]:vertical [&>section]:justify-between [&>section]:full overflow-hidden h-full;
    grid-template-columns: repeat(3, var(--frameSize));
    gap: var(--gap);
  }
  dialog:modal {
    /* px-5 py-5 */
    @apply ring-1 ring-stone-300 ring-offset-1 horizontal bg-zinc-200 text-black shadow-md shadow-black/20 rounded-md;
    max-width: var(--dialogMaxSize);
  }
  dialog::backdrop {
    @apply bg-black/40 backdrop-blur-[1px];
  }
</style>

<dialog {...Astro.props} data-action={`dialog#${key}`} class="overflow-hidden">
  <ContactDetail product={product} size={detailsSize} />
  <Form key={key} id={product.id}>
    <div data-is={`multistep#${key}`} data-frameSize={sizes.translation}>
      <!-- COL 1 -->
      {
        components.map((Component, i) => {
          const isFirstIndex = i === 0;
          const isLastIndex = i === components.length - 1;
          return (
            <section
              class="transition-transform grid place-items-center p-10"
              data-frame={`frame#${key}`}
              data-translation="0">
              <Component product={product} />
              <div class="horizontal w-full justify-end items-center gap-5">
                {!isFirstIndex && (
                  <Button data-action={`prev#${key}`} size="md" variant="filled" leftIcon ring="sm">
                    <ArrowBigLeft className="stroke-1" slot="icon" />
                    Précédent
                  </Button>
                )}
                {isLastIndex ? (
                  <Button type="submit" size="md" className="horizontal justify-between" variant="filled" ring="sm">
                    Valider
                  </Button>
                ) : (
                  <Button data-action={`next#${key}`} size="md" variant="filled" rightIcon ring="sm">
                    Suivant
                    <ArrowBigRight className="stroke-1" slot="icon" />
                  </Button>
                )}
              </div>
            </section>
          );
        })
      }
    </div>
  </Form>
  <CloseButton key={key} />
</dialog>

<Button data-action={`open#${key}`} dark size="lg">S'inscrire</Button>
