---
import ClimbIcon from "@/components/icons/Climb.astro";
import { generateLorem } from "@/lib/utils";
import Product from "./Products/Product.astro";
import data from "./Products/product.json" assert { type: "json" };
import type { ProductType } from "./Products/types";
import RandomImage from "./RandomImage.astro";

const rawProducts = data.products;

const products: ProductType[] = rawProducts.map((product) => {
  return {
    ...product,
    title: generateLorem(5),
    description: generateLorem(40),
  };
});

const imgSize = {
  width: 400,
  height: 500,
};
---

{
  products.map((product: ProductType, i: number) => {
    if (i === 0) {
      return (
        <>
          <div class="w-full vertical">
            <ClimbIcon />
            <h2 class="text-xl w-full text-left">Ce que l'on vous conseille</h2>
          </div>
          <article class="horizontal" data-is={i}>
            <RandomImage width={imgSize.width} height={imgSize.height} />
            <Product {...product} />
          </article>
        </>
      );
    }
    if (i % 2 !== 0) {
      // even
      return (
        <article class="horizontal-reverse" data-is={i}>
          <RandomImage width={imgSize.width} height={imgSize.height} />
          <Product {...product} />
        </article>
      );
    }
    return (
      <article class="horizontal" data-is={i}>
        <RandomImage width={imgSize.width} height={imgSize.height} />
        <Product {...product} />
      </article>
    );
  })
}
