---
import { ArrowLeft, ArrowRight } from "lucide-react";

interface Props {
  title: string;
  subtitle: string;
}

const { subtitle, title } = Astro.props;

let page: string | number = 2;
let Tpage: string | number = 12;
if (page < 10) page = `0${page.toString()}`;
if (Tpage < 10) Tpage = `0${Tpage.toString()}`;
---

<script>
  const buttons = document.querySelectorAll("[data-is='button-group']");
  const handler = () => console.log("clicked");

  if (buttons) for (const btn of buttons) btn.addEventListener("click", handler);
</script>

<style>
  button > * {
    @apply h-5 w-5 opacity-90;
  }
</style>

<div class="vertical gap-3 absolute top-0 left-1/4">
  <div class="horizontal items-center justify-start w-fit gap-1">
    <output class="text-xl tabular-nums">{page}</output>
    <span class="translate-y-2 text-md text-slate-300">/ {Tpage}</span>
  </div>
  <header>
    <h3 class="text-2xl font-medium leading-3">{title}</h3>
    <small class="text-sm text-slate-300">{subtitle}</small>
  </header>
  <nav class="horizontal items-center justify-start gap-2 mt-2">
    <button data-is="button-group">
      <ArrowLeft />
    </button>
    <button data-is="button-group">
      <ArrowRight />
    </button>
  </nav>
</div>
