---
import Button from "@/components/shared/Button.astro";
import type { ComplexProduct } from "../types";
import Atelier from "./Atelier.astro";
import CardBody from "./CardBody.astro";
import CardHeader from "./CardHeader.astro";
import TopSection from "./TopSection.astro";

interface Props {
  product: ComplexProduct;
  verticalText: string;
  buttonText: string;
}

//@ts-ignore
const { product, buttonText, verticalText } = Astro.props;

const { pole, data } = product;
const padding = "12px",
  imgWidth = "150px",
  height = "380px";
---

<style define:vars={{ padding, imgWidth, height }}>
  .left-card-w {
    --imgsGap: calc(var(--padding) / 2);
    padding: var(--padding);
    width: calc((var(--padding) + var(--imgWidth)) * 2 + var(--imgsGap));
    height: var(--height);

    div:has(> img) {
      gap: var(--imgsGap);
    }
  }
</style>

<section class={`relative w-screen center vertical gap-20`}>
  <TopSection title={pole} verticalText={verticalText} />
  <div
    class="horizontal flex-wrap justify-center min-[800px]:grid 2xl:horizontal min-[800px]:grid-cols-2 sm:justify-evenly items-start w-full gap-20">
    {
      data.map((d) => {
        return (
          <section class="px-4 vertical min-[800px]:contents 2xl:horizontal 2xl:[&>article]:mx-0 min-[800px]:[&>article]:mx-auto gap-8 h-full">
            <article
              class={`relative left-card-w bg-slate-100 rounded-md vertical justify-between ring-1 ring-black/80`}>
              <CardHeader title={d.title} />
              <CardBody subtitle={d.subtitle} objectifs={d.objectifs} />
            </article>
            <div class="space-y-10 max-w-[330px] max-h-[500px] vertical">
              {d.ateliers.map((a, i) => (
                <Atelier index={i} activities={a.activities} title={a.title} duration={a.duration} />
              ))}
              <Button ring="sm" size="lg" variant="outline" dark className="w-fit font-bold whitespace-nowrap">
                En savoir plus
              </Button>
            </div>
          </section>
        );
      })
    }
  </div>
</section>
